// screen
$tiny: 320px;
$sm: 575px;
$md: 767px;
$l: 900px;
$lg: 1023px;
$x: 1132px;
$xl: 1439px;

// colors
$black: #000000;
$black-gray: #404040;
$white: #FFFFFF;
$red: #FF0000;
$blue-icon: #037BB8;
$blue-text: #0C77BB;
$green: #71C838;
$gray: #999999;
$gray-dark: #666666;
$gray-high-dark: #7E7E7E;
$gray-light: #EAEAEA;

// fonts
$arial-bold: "ArialBold";
$arial-regular: "ArialRegular";
